{% extends 'base.html' %}

{% load bootstrap4 %}

{% block body %}

<div class="container mt-5 mb-3">
  <div class="row">
  <div class="card col-md-6 col-lg-6 offset-md-3 offset-lg-3">
    <div class="card-header" align="center">
      <div style="text-align:center; font-size:60px; font-weight:bolder; color:#2980ef;"><i class="icon ion-ios-locked-outline"></i></div>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div align="right">
          <button class='btn btn-primary' type="submit">로그인</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-3 col-lg-3"></div>
  </div>
</div>
  
{% endblock %}