{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
    <!--<h1>내가 쓴 리뷰를 보여주는 페이지</h1>-->
    
    <!--<div class="row justify-content-center">-->
    <!--  {% for rating in ratings %}-->
    <!--   <div class="card mt-2 mr-2" style="width: 20rem;">-->
    <!--      <div class="card-title">영화제목: {{ rating.movie.title }}</div>-->
    <!--      <div class="card-body">-->
    <!--        <h5 class="card-text">{{ rating.comment }}</h5>-->
    <!--      </div>-->
        
    <!--      <div class="card-body">-->
    <!--        <button class="btn btn-success">평점{{rating.score}}</button>-->
    <!--        <a href={% url 'movies:update_rating' rating.movie.id rating.id %} class="btn btn-warning">수정</a>  -->
    <!--        <form class="d-inline-block" action={% url 'movies:delete_rating' rating.movie.id rating.id %} method="POST">-->
    <!--          {% csrf_token %}-->
    <!--           <button type="submit" class="btn btn-danger">삭제</button>-->
    <!--        </form>-->
    <!--        </div>-->
          
    <!--    </div>-->
    <!--  {% endfor %}-->
    <!--</div>-->
  
  <div id="wrapper">
      <h2>평가한 작품</h2>
      <div class="card-body">
        <div class="row">
        {% for rating in ratings %}
          <div class="col-md-3" style="padding:0px">
            <div class="card">
              <div class="card-header" align="center">
                <h5>{{rating.movie.title}}</h5>
              </div>
              <div class="card-body">
                <div id="{{rating.movie.id}}" class="mt-1">
                  <a href="{% url 'movies:detail' rating.movie.id %}"><img src="{{rating.movie.poster_image}}" width="100%" height="100%"/></a>
                </div>
                <hr style="height:1px">
                <div class="mb-2">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{rating.comment}}
                    <span class="badge badge-primary badge-pill">{{rating.score}}</span>
                  </li>
                </div>
                <div class="d-flex justify-content-end">
                  <form class="d-inline-block" action={% url 'movies:delete_rating' rating.movie.id rating.id %} method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger mr-1">삭제</button>
                  </form>
                  <a href={% url 'movies:update_rating' rating.movie.id rating.id %} class="btn btn-warning">수정</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>    
    </div>
    
  </div>
    
  
{% endblock %}