{% extends 'base.html' %}
{% block body %}
  <div id="main">
    <div id="current" class="mb-3">
      <div class="container">
        <div class="row d-flex justify-content-center">
            <h1>현재 상영작 순위</h1>
            <ul class="list-group" style="display: block; width:80%;">
              <li v-for="movie in currentChart" class="list-group-item d-flex align-items-center">
                <a :href="movie.url" style="color: inherit;"> [[movie.rank]]위 [[movie.title]]</a>
                <span class="badge badge-primary badge-pill ml-auto">[[movie.reservation_percent]]</span>
                <span class='badge badge-primary badge-pill ml-1'><a :href="movie.url" style="color:white;">바로가기</a></span>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>

  </div>
  <script>
    const app = new Vue({
      delimiters: ['[[',']]'],
      el: '#main',
      data: {
        current_url: 'https://final-project-zoo1.c9users.io/api/v1/current/',
        chart : [],
        currentChart : [],
      },
      mounted: function () {
        axios.get(this.current_url).then(response=>{
          this.currentChart = response.data.data.slice(0,10)
        })
      }
    })
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



{% endblock %}