{% extends 'base.html' %}
{% block body %}
  <div id="main" class="mt-3">
    <div id="current" class="card mb-3 mt-3" style="background-color:#141414">
      <div class="container">
        <div class="row">
          <h1 style="color:#F7F7F7">현재 상영작 순위</h1>
          <!--#858C93-->
          <div class="card-body d-flex justify-content-center">
            <ul class="list-group" style="display: block; width:80%;">
              <li v-for="movie in currentChart" class="list-group-item" style="background-color:#1B1C1D; color: #f7f7f7;">
                <div class="row d-flex align-items-center">
                  <div class="col-md-1">
                    <span class="badge badge-danger badge-pill ml-auto" style="width:100%">[[movie.rank]]</span>
                  </div>
                  <div class="col-md-6 mr-auto">
                    <a :href="movie.url" style="color: inherit;"><h4>[[movie.title]]</h4></a>
                  </div>
                  <div class="col-md-2 ml-auto" align="right">
                    <h4 style="color:f7f7f7;">[[movie.reservation_percent]]</h4>
                  </div>
                  <div class="col-md-2 ml-auto" align="right">
                    <a :href="movie.url" style="color:white;"><img :src="movie.image" width="60%;"></a>
                  </div>
                </div>
                
              </li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  </div>
  <script>
    const app = new Vue({
      delimiters: ['[[',']]'],
      el: '#main',
      data: {
        current_url: 'https://final-movie-hzzle.c9users.io/api/v1/current/',
        chart : [],
        currentChart : [],
      },
      mounted: function () {
        axios.get(this.current_url).then(response=>{
          this.currentChart = response.data.data.slice(0,10)
        })
      }
    })
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



{% endblock %}