{% extends 'base.html' %}

{% load bootstrap4 %}

{% block body %}
  <img src=""></img>
  {% if user.is_superuser %}
  <div>
    <a href="{% url 'movies:create' %}">영화 추가하러 가기</a>
  </div>
  {% endif %}
  
  <!--TEST-->
  <div id="wrapper">
    
    <div class="row">
      {% for movie in movies %}
        <div class="col-sm-6 col-md-3">
          <div id="{{movie.id}}" class="item">
            <a href="{% url 'movies:detail' movie.id %}"><span class="case"><img src="{{movie.poster_image}}" width="100%" height="100%"/>
        
            <div class="joowon d-flex flex-column justify-content-center">
              <button type="button" class="btn btn-outline-info" style="margin-bottom:1rem">예매하기</button>
              <button type="button" class="btn btn-outline-info">Info</button>
              <button class="btn btn-info">동무들 평점 {{ avg_score|get_item:movie.id }}</button>            
            </div>
          
            </span></a>
          </div>
        </div>
        
        
      {% endfor %}
    </div>
  </div>
<!--END TEST-->



{% endblock %}