{% extends 'base.html' %}

{% load bootstrap4 %}

{% block body %}
  <h1>영화리스트</h1>
  {% if user.is_superuser %}
  <div>
    <a href="{% url 'movies:create' %}">영화 추가하러 가기</a>
  </div>
  {% endif %}
  
  <!--TEST-->
  <div id="wrapper">
    

    <div id="amelie" class="item">
      <a href="#amelie"><span class="case"><img src="https://s.cdpn.io/79/movie-amelie.jpg" /></span></a>
    </div>
    
    <div id="bruno" class="item">
      <a href="#bruno"><span class="case"><img src="https://s.cdpn.io/79/movie-goats.jpg" /></span></a>
    </div>
    
    <div id="american-beauty" class="item">
      <a href="#american-beauty"><span class="case"><img src="https://s.cdpn.io/79/movie-americanbeauty.jpg" /></span></a>
    </div>
    
    
    <div id="wall-e" class="item">
      <a href="#wall-e"><span class="case"><img src="https://s.cdpn.io/79/movie-wall-e.jpg" /></span></a>
    </div>
    
    
    <div id="fight-club" class="item">
      <a href="#fight-club"><span class="case"><img src="https://s.cdpn.io/79/movie-fightclub.jpg" /></span></a>
    </div>
    
  </div>
<!--END TEST-->



{% endblock %}